  $color1: papayawhip;
  $color2: palevioletred;
  $color3: darkslategray;
  $color4: #282c34;

  $s-size: 0.4rem;
  $m-size: 1rem;
  $l-size: 1.2rem;

  $font-size-large: 1.2rem;
  $font-size-normal: 1rem;